.tour-form-container {
  display: flex;
  justify-content: space-between;
}

.tour-form-left {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}
.tour-form-right {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px; 
  margin-right: 300px; 
  height: 50%;
}

.tour-form-right h4 {
  color: #003366;
  font-size: 16px;
  margin-bottom: 15px;
}

.tour-form-right .form-group {
  margin-bottom: 20px;
 
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}

.tour-form-right .form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.tour-form-right .form-group input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
}

.tour-form-right .form-group input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
}

.tour-form-right .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tour-form-right .form-actions button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tour-form-right .form-actions button[type="button"] {
  background-color: #dc3545;
}

.tour-form-right .form-actions button:hover {
  opacity: 0.8;
}


.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group label span {
  color: red;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input[type="file"] {
  padding: 3px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button[type="button"] {
  background-color: #dc3545;
}

.form-actions button:hover {
  opacity: 0.8;
}
.form-actions .icon{
  margin-bottom: -2px;
  margin-right: 4px;
  font-size: 15px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}
